/Argorythm/Lesson 1 HomeWorks/Lesson 1 HomeWorks/bin
/Argorythm/Lesson 1 HomeWorks/Lesson 1 HomeWorks/Properties
/Argorythm/Lesson 1 HomeWorks/.vs
/Argorythm/Lesson 1 HomeWorks/Lesson 1 HomeWorks/obj
/GKGame/GKGame/obj
/GKGame/GKGame/bin
/GKGame/.vs
/GameGK/GameGK/bin
/GameGK/GameGK/Properties
/GameGK/GameGK/obj
/GameGK/.vs
/Argorythm/Lesson 1 HomeWorks/Lesson 1 HomeWorks/.vs
